<div id="header">
  <div class="logo">
    <a href="/">Youm!!!<br>メニュー買取アプリ</a>
  </div>

  <div class="link">
    <ul id=nav>
      <li>
      メニュー
      </li>
      <li>
      メニュー
      </li>
      <li>
      メニュー
      </li>
    </ul>
  </div>

</div>