<div class="content-wrapper">
  <div class="content-block">
    <div class="content">
     <div class="user-about">
      <div class="image">
        <%= image_tag "nouser.png" %>
      </div>
      <div class="profile">
        <div class="name-about">
          <div class="name">
            ビストロ熊谷
          </div>
        </div>

        <div class="detail">
          藤沢市にありまーす
        </div>
      </div>
      </div>
      <div class="text">
        <p>こいつは新作だぜええええええええ</p>
      </div>
    </div>
  </div>
</div>